<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qingsongjia.qingsongjia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".activity.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="A7G3FzaP5Ify5DwvsfMsn7Aj" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".driverschool.SchoolSearchActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.VerifyPhoneActivity"
            android:label="@string/title_activity_verify_phone"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SetPasswordActivity"
            android:label="@string/title_activity_set_password"
            android:theme="@style/AppTheme" />
        <activity android:name=".user.ChangeExamLibsActivity" />
        <activity
            android:name=".driverexam.ExamDetailActivity"
            android:label="@string/title_activity_exam_detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".driverexam.AnalogyExamActivity"
            android:label="@string/title_activity_analogy_exam"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".yuekao.InquiryExamActivity"
            android:label="@string/title_activity_inquiry_exam"
            android:theme="@style/AppTheme" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".driverexam.AnalogyTestActivity"
            android:label="@string/title_activity_analogy_test"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".driverexam.ExamTestActivity"
            android:label="@string/title_activity_exam_test"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".yuexun.S_InquiryTrainingActivity"
            android:label="@string/title_activity_inquiry_training"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".driverexam.TeacherListActivity"
            android:label="@string/title_activity_teacher_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".driverexam.TeacherDetailActivity"
            android:label="@string/title_activity_teacher_detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".user.MyTeacherActivity"
            android:label="@string/title_activity_my_teacher"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".user.MyMessageActivity"
            android:label="@string/title_activity_my_message"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".user.MyJiFeiActivity"
            android:label="@string/title_activity_my_ji_fei"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".user.MyYuEActivity"
            android:label="@string/title_activity_my_yu_e"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".user.TiXianActivity"
            android:label="@string/title_activity_ti_xian"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".yuekao.MyExamActivity"
            android:label="@string/title_activity_my_exam"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".plxc.S_SparringListActivity"
            android:label="@string/title_activity_pen_lian"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".user.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme" />

        <service
            android:name=".localdata.CopyDBFileService"
            android:exported="false" />

        <activity
            android:name=".driverexam.ZhangJieLianXiActivity"
            android:label="@string/title_activity_zhang_jie_lian_xi"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".driverexam.ZhuanIXiangLianXiActivity"
            android:label="@string/title_activity_zhuan_ixiang_lian_xi"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".driverexam.WebActivity"
            android:label="@string/title_activity_web"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".driverexam.JiaoTongBiaoZhiActivity"
            android:label="@string/title_activity_jiao_tong_biao_zhi"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".driverexam.JiaoTongBiaoZhiGridActivity"
            android:label="@string/title_activity_jiao_tong_biao_zhi_grid"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".driverexam.ItemListActivity"
            android:label="@string/title_activity_item_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".teacher.TeacherLoginActivity"
            android:label="@string/title_activity_teacher_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".teacher.T_StudentListActivity"
            android:label="@string/title_activity_my_student"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".teacher.T_StudentExamListActivity"
            android:label="@string/title_activity_my_student_yk"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".yuexun.T_TrainingListActivity"
            android:label="@string/title_activity_my_student_yx"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".yuexun.T_TrainingConfirmActivity"
            android:label="@string/title_activity_yxconfirm"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".yuexun.T_TrainingEvaluateActivity"
            android:label="@string/title_activity_yxevaluate"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".plxc.T_SparringListActivity"
            android:label="@string/title_activity_pei_lian_xing_cheng"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".plxc.S_SparringInquiryActivity"
            android:label="@string/title_activity_send_inquiry"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".plxc.T_SparringConfirmActivity"
            android:label="@string/title_activity_inquiry_confirm"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".plxc.T_SparringComplaintActivity"
            android:label="@string/title_activity_tou_su"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".plxc.T_PushSparringActivity"
            android:label="@string/title_activity_push_order"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".yuexun.S_TrainingConfirmActivity"
            android:label="@string/title_activity_yxstudent_confirm"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".user.MyYouHuiJuanActivity"
            android:label="@string/title_activity_my_you_hui_juan"
            android:theme="@style/AppTheme" />

        <service
            android:name=".localdata.DownloadFileService"
            android:exported="false" />

        <activity
            android:name=".yuexun.S_TrainingDetailActivity"
            android:label="@string/title_activity_my_test_detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".yuexun.S_TrainingListActivity"
            android:label="@string/title_activity_my_test_detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".driverschool.CityListActivity"
            android:label="@string/title_activity_city_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".driverschool.AreaListActivity"
            android:label="@string/title_activity_area"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".driverschool.SchoolDetailActivity"
            android:label="@string/title_activity_school_detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".plxc.AllSparringListActivity"
            android:label="@string/title_activity_pei_lian_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".yuexun.S_TrainingEvaluateActivity"
            android:label="@string/title_activity_yxevaluate"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".driverexam.HtmlResActivity"
            android:label="@string/title_activity_html_res"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".driverexam.JiaoTongBiaoZhiListActivity"
            android:label="@string/title_activity_jiao_tong_biao_zhi_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".driverexam.WebListActivity"
            android:label="@string/title_activity_web_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".driverexam.XinShouShangLuActivity"
            android:label="@string/title_activity_xin_shou_shang_lu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".driverexam.XinShouShangLuListActivity"
            android:label="@string/title_activity_xin_shou_shang_lu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".plxc.T_SparringEvaluateActivity"
            android:label="@string/title_activity_pei_lian_ping_jia"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".driverschool.BusRouteActivity"
            android:label="@string/title_activity_bus_route"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".driverschool.SchoolImgsActivity"
            android:label="@string/title_activity_school_imgs"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".driverschool.SchoolEvaluateActivity"
            android:label="@string/title_activity_school_evaluate"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".driverschool.SchoolListActivity"
            android:label="@string/title_activity_school_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".user.StudentMessageActivity"
            android:label="@string/title_activity_student_message"
            android:theme="@style/AppTheme"></activity>

        <activity android:name="com.wan7451.choicepicture.ChoicePicturesActivity"/>
    </application>

</manifest>
